@charset "utf-8";

.todo {
  text-align: left;
	background: #fff;
  width:100% auto;
	
}


.button {
  margin: 0% 0px 0% 0%;
}

.checkbox {
  text-align: center;;
  margin:0;
}

/* まとめてするとなぜか反映されない */
.title {
  margin: 0 0 0 0%;
  color:black
}

th {
  color:black;
}
table {
  width:100%;
}

